* {
  box-sizing: border-box;
}

body {
  background-color: rgb(210, 233, 233);
  height: 100%;
}

.App {
  font-family: sans-serif;
  font-size: 16px;
  text-align: center;
  padding-top: 5rem;
  min-height: 100vh;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

button,
p {
  font-size: 1.2rem;
}

button {
  background-color: floralwhite;
  height: 3rem;
  width: 10rem;
}
